In [1]:
# Import necessary librries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import sqlite3

In [2]:
# Create a connection to the SQLite database
# If the database does not exist, it will be created
conn = sqlite3.connect('epl_data.db')
cursor = conn.cursor()

In [7]:
# Load the EPL data into a DatFrame from a CSV file
try:
    data = pd.read_csv('epl_2021_22.csv')
    print(data.head())  # Display the first few rows of the DataFrame

except Exception as e:
    print(f"An error occurred: {e}")

epl_data = data

         Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0  2021-08-13      Watford  Man United     3     2   A     1     0   D
1  2021-08-20      Everton     Watford     4     1   D     0     1   A
2  2021-08-27     West Ham     Everton     0     3   A     2     1   H
3  2021-09-03      Everton    Man City     2     3   D     0     2   H
4  2021-09-10  Aston Villa     Norwich     3     0   D     0     2   A

          Referee  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0  Anthony Taylor  ...    4    3  15   8   1   4   1   1   1   0
1     Paul Tierry  ...    3    7   9  16   3   5   1   1   0   0
2  Anthony Taylor  ...    6    5  11   7  12   6   3   1   0   0
3  Michael Oliver  ...    6    6   7   8   8   3   3   4   1   1
4  Michael Oliver  ...    2    3   8  16  12   1   1   3   1   0

[5 rows x 22 columns]

In [8]:
# Create a table in the SQLite database
cursor.execute('''
CREATE TABLE IF NOT EXISTS epl (
    Date TEXT,
    HomeTeam TEXT,
    AwayTeam TEXT,
    FTHG INTEGER,
    FTAG INTEGER,
    FTR TEXT,
    HTHG INTEGER,
    HTAG INTEGER,
    HTR TEXT,
    Referee TEXT,
    HS INTEGER,
    "AS" INTEGER,
    HST INTEGER,
    AST INTEGER,
    HF INTEGER,
    AF INTEGER,
    HC INTEGER,
    AC INTEGER,
    HY INTEGER,
    AY INTEGER,
    HR INTEGER,
    AR INTEGER
)
''')

# cursor.execute('''
# CREATE TABLE IF NOT EXISTS epl (
#     Date TEXT,
#     HomeTeam TEXT,
#     AwayTeam TEXT,
#     FTHG INTEGER,
#     FTAG INTEGER,
#     FTR TEXT,
#     HTHG INTEGER,
#     HTAG INTEGER,
#     HTR TEXT,
#     Referee TEXT,
#     HS INTEGER,
#     "AS" INTEGER,
#     HST INTEGER,
#     AST INTEGER,
#     HF INTEGER,
#     AF INTEGER,
#     HC INTEGER,
#     AC INTEGER,
#     HY INTEGER,
#     AY INTEGER,
#     HR INTEGER,
#     AR INTEGER
# )
# ''')

In [9]:
# Insert the data into the table
epl_data.to_sql('epl', conn, if_exists='replace', index=False)

380

In [10]:
# Commit the changes and close the connection
conn.commit()
conn.close()