# Create the EPL Dataset

I will create a synthetic dataset for the English Premier League (EPL) 2021-22 season. This dataset will include columns such as Date, HomeTeam, AwayTeam, FTHG (Full Time Home Goals), FTAG (Full Time Away Goals), FTR (Full Time Result), and more.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [4]:
# Create a synthetic dataset for the English Premier League (EPL) 2021-22 season
data = {
    'Date': pd.date_range(start='2021-08-13', periods=380, freq='7D').strftime('%Y-%m-%d').tolist(),
    'HomeTeam': np.random.choice(['Arsenal', 'Aston Villa', 'Brentford', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Leeds', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Norwich', 'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves'], 380),
    'AwayTeam': np.random.choice(['Arsenal', 'Aston Villa', 'Brentford', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Leeds', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Norwich', 'Southampton', "tottenham", 'Watford', 'West Ham', 'Wolves'], 380),
    'FTHG': np.random.randint(0, 5, 380),
    'FTAG': np.random.randint(0, 5, 380),
    'FTR': np.random.choice(['H', 'D', 'A'], 380),
    'HTHG': np.random.randint(0, 3, 380),
    'HTAG': np.random.randint(0, 3, 380),
    'HTR': np.random.choice(['H', 'D', 'A'], 380),
    'Referee': np.random.choice(['Mike Dean', 'Michael Oliver', 'Anthony Taylor', 'Martin Atkins', 'Paul Tierry'], 380),
    'HS': np.random.randint(5, 25, 380),
    'AS': np.random.randint(5, 25, 380),
    'HST': np.random.randint(1, 10, 380),
    'AST': np.random.randint(1, 10, 380),
    'HF': np.random.randint(5, 20, 380),
    'AF': np.random.randint(5, 20, 380),
    'HC': np.random.randint(0, 20, 380),
    'AC': np.random.randint(0, 10, 380),
    'HY': np.random.randint(0, 5, 380),
    'AY': np.random.randint(0, 5, 380),
    'HR': np.random.randint(0, 2, 380),
    'AR': np.random.randint(0, 2, 380)
}

In [5]:
# Convert the dictionary to DataFrame
epl_data = pd.DataFrame(data)

In [6]:
# Save the DataFrame to a CSV file
epl_data.to_csv('epl_2021_22.csv', index=False)

In [7]:
# Display the first few rows of the DataFrame
print(epl_data.head())

         Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0  2021-08-13      Watford  Man United     3     2   A     1     0   D
1  2021-08-20      Everton     Watford     4     1   D     0     1   A
2  2021-08-27     West Ham     Everton     0     3   A     2     1   H
3  2021-09-03      Everton    Man City     2     3   D     0     2   H
4  2021-09-10  Aston Villa     Norwich     3     0   D     0     2   A

          Referee  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0  Anthony Taylor  ...    4    3  15   8   1   4   1   1   1   0
1     Paul Tierry  ...    3    7   9  16   3   5   1   1   0   0
2  Anthony Taylor  ...    6    5  11   7  12   6   3   1   0   0
3  Michael Oliver  ...    6    6   7   8   8   3   3   4   1   1
4  Michael Oliver  ...    2    3   8  16  12   1   1   3   1   0

[5 rows x 22 columns]