# Synthetic Dataset Using Library System

##### Perform Advancesd SQL Queries
In this step, we perform various advanced SQL queries involving different types of joins to get insights from the data.

In [2]:
# Import necessary libraries
import sqlite3
import pandas as pd

In [3]:
# Create a connection to SQLite database
conn = sqlite3.connect('library_data.db')

In [6]:
# Query 1: Inner Join - Get the list of books along with their authors
query1 = '''
SELECT books.title, authors.author_name, books.genre, books.published_year
FROM books
INNER JOIN authors ON books.author_id = authors.author_id
'''

books_with_authors = pd.read_sql(query1, conn)
print('Books with their authors:')
print(books_with_authors)

Books with their authors:
      title author_name            genre  published_year
0    Book 1    Author 8  Science Fiction            2008
1    Book 2    Author 6  Science Fiction            2017
2    Book 3    Author 8      Non-Fiction            2002
3    Book 4    Author 5          Fantasy            2014
4    Book 5    Author 8  Science Fiction            2017
5    Book 6    Author 2  Science Fiction            1991
6    Book 7   Author 10  Science Fiction            2011
7    Book 8    Author 1          Fantasy            1994
8    Book 9    Author 6  Science Fiction            1997
9   Book 10    Author 5          Fiction            1991
10  Book 11    Author 6  Science Fiction            1991
11  Book 12    Author 7          Fantasy            2015
12  Book 13    Author 9          Fantasy            1997
13  Book 14    Author 8      Non-Fiction            2004
14  Book 15    Author 5      Non-Fiction            2003
15  Book 16    Author 7          Fiction            2019
16  Book 17    Author 2          Fiction            1991
17  Book 18    Author 5          Fantasy            2000
18  Book 19    Author 4          Fiction            2019
19  Book 20    Author 9          Fantasy            2009

Query 2: Left Outer Join - Get the list of all authors and their books, including authors with no books

In [7]:
query2 = '''
SELECT authors.author_name, books.title, books.genre, books.published_year
FROM authors
Left JOIN books ON authors.author_id = books.author_id
'''

authors_with_books = pd.read_sql(query2, conn)
print('\nAuthors with their books (including authors with no books):')
print(authors_with_books)

Authors with their books (including authors with no books):
   author_name    title            genre  published_year
0     Author 1   Book 8          Fantasy          1994.0
1     Author 2  Book 17          Fiction          1991.0
2     Author 2   Book 6  Science Fiction          1991.0
3     Author 3     None             None             NaN
4     Author 4  Book 19          Fiction          2019.0
5     Author 5  Book 10          Fiction          1991.0
6     Author 5  Book 15      Non-Fiction          2003.0
7     Author 5  Book 18          Fantasy          2000.0
8     Author 5   Book 4          Fantasy          2014.0
9     Author 6  Book 11  Science Fiction          1991.0
10    Author 6   Book 2  Science Fiction          2017.0
11    Author 6   Book 9  Science Fiction          1997.0
12    Author 7  Book 12          Fantasy          2015.0
13    Author 7  Book 16          Fiction          2019.0
14    Author 8   Book 1  Science Fiction          2008.0
15    Author 8  Book 14      Non-Fiction          2004.0
16    Author 8   Book 3      Non-Fiction          2002.0
17    Author 8   Book 5  Science Fiction          2017.0
18    Author 9  Book 13          Fantasy          1997.0
19    Author 9  Book 20          Fantasy          2009.0
20   Author 10   Book 7  Science Fiction          2011.0

Query3 : Right Outer Join - Get the listof all books and their authors, including books with no authors (simulated with LEFT JOIN and NULL check)

In [13]:
query3 = '''
SELECT authors.author_name, books.title, books.genre, books.published_year
FROM books
LEFT JOIN authors ON books.author_id = authors.author_id
WHERE authors.author_id IS NULL
UNION
SELECT authors.author_name, books.title, books.genre, books.published_year
FROM books
LEFT JOIN authors ON books.author_id = authors.author_id
WHERE authors.author_id IS NOT NULL
'''

books_with_authors_right = pd.read_sql(query3, conn)
print('\nBooks with their author (including books with no authors):')
print(books_with_authors_right)

Books with their author (including books with no authors):
   author_name    title            genre  published_year
0     Author 1   Book 8          Fantasy            1994
1    Author 10   Book 7  Science Fiction            2011
2     Author 2  Book 17          Fiction            1991
3     Author 2   Book 6  Science Fiction            1991
4     Author 4  Book 19          Fiction            2019
5     Author 5  Book 10          Fiction            1991
6     Author 5  Book 15      Non-Fiction            2003
7     Author 5  Book 18          Fantasy            2000
8     Author 5   Book 4          Fantasy            2014
9     Author 6  Book 11  Science Fiction            1991
10    Author 6   Book 2  Science Fiction            2017
11    Author 6   Book 9  Science Fiction            1997
12    Author 7  Book 12          Fantasy            2015
13    Author 7  Book 16          Fiction            2019
14    Author 8   Book 1  Science Fiction            2008
15    Author 8  Book 14      Non-Fiction            2004
16    Author 8   Book 3      Non-Fiction            2002
17    Author 8   Book 5  Science Fiction            2017
18    Author 9  Book 13          Fantasy            1997
19    Author 9  Book 20          Fantasy            2009

Query 4: Full Outer Join - Get the list of all authors and books, including those with no match (simulated with UNION)

In [15]:
query4 = '''
SELECT authors.author_name, books.title, books.genre, books.published_year
FROM authors
LEFT jOIN books ON authors.author_id = books.author_id
UNION 
SELECT authors.author_name, books.title, books.genre, books.published_year
FROM books
LEFT JOIN authors ON books.author_id = authors.author_id
'''

full_outer_join = pd.read_sql(query4, conn)
print('\nFull outer join (all authors and books):')
print(full_outer_join)

Full outer join (all authors and books):
   author_name    title            genre  published_year
0     Author 1   Book 8          Fantasy          1994.0
1    Author 10   Book 7  Science Fiction          2011.0
2     Author 2  Book 17          Fiction          1991.0
3     Author 2   Book 6  Science Fiction          1991.0
4     Author 3     None             None             NaN
5     Author 4  Book 19          Fiction          2019.0
6     Author 5  Book 10          Fiction          1991.0
7     Author 5  Book 15      Non-Fiction          2003.0
8     Author 5  Book 18          Fantasy          2000.0
9     Author 5   Book 4          Fantasy          2014.0
10    Author 6  Book 11  Science Fiction          1991.0
11    Author 6   Book 2  Science Fiction          2017.0
12    Author 6   Book 9  Science Fiction          1997.0
13    Author 7  Book 12          Fantasy          2015.0
14    Author 7  Book 16          Fiction          2019.0
15    Author 8   Book 1  Science Fiction          2008.0
16    Author 8  Book 14      Non-Fiction          2004.0
17    Author 8   Book 3      Non-Fiction          2002.0
18    Author 8   Book 5  Science Fiction          2017.0
19    Author 9  Book 13          Fantasy          1997.0
20    Author 9  Book 20          Fantasy          2009.0

Query 5: Get the list pf borrowers along with the books they borrowed

In [16]:
query5 = '''
SELECT borrowers.borrower_name, books.title, borrowers.borrow_date
FROM borrowers
INNER JOIN books ON borrowers.borrowed_book_id = books.book_id
'''

borrowers_with_books = pd.read_sql(query5, conn)
print('\nBorrowers with the books they borrowed:')
print(borrowers_with_books)

Borrowers with the books they borrowed:
   borrower_name    title borrow_date
0     Borrower 1  Book 16  2025-01-01
1     Borrower 2  Book 18  2025-01-08
2     Borrower 3   Book 8  2025-01-15
3     Borrower 4  Book 18  2025-01-22
4     Borrower 5   Book 4  2025-01-29
5     Borrower 6   Book 8  2025-02-05
6     Borrower 7   Book 2  2025-02-12
7     Borrower 8   Book 6  2025-02-19
8     Borrower 9  Book 20  2025-02-26
9    Borrower 10  Book 15  2025-03-05
10   Borrower 11  Book 16  2025-03-12
11   Borrower 12   Book 5  2025-03-19
12   Borrower 13   Book 2  2025-03-26
13   Borrower 14   Book 3  2025-04-02
14   Borrower 15  Book 11  2025-04-09

In [17]:
# Close the connection 
conn.close()