# Synthetic Dataset for Library System
Create a SQLite Database and Load Data - In this step, we create a SQLite database and load the data from the CSV files into tables.

In [1]:
# Import necessary libraries
import sqlite3
import pandas as pd

In [3]:
# Create a connection to the SQLlite database
conn = sqlite3.connect('library_data.db')
cursor = conn.cursor()

In [6]:
# Load the data into DatFrames
authors_df = pd.read_csv('authors.csv')
books_df = pd.read_csv('books.csv')
borrowers_df = pd.read_csv('borrowers.csv')

In [9]:
# Create tables in the SQLite database
cursor.execute('''
CREATE TABLE IF NOT EXISTS authors (
    author_id INTEGER PRIMARY KEY,
    author_name TEXT,
    nationality TEXT
    )
''')

In [12]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS borrowers (
    borrower_id INTEGER PRIMARY KEY,
    borrower_name TEXT,
    borrowed_book_id INTEGER,
    borrow_date TEXT,
    FOREIGN KEY (borrowed_book_id) REFERENCES books(book_id)
    ) 
''')

In [15]:
# Insert the data into the table
authors_df.to_sql('authors', conn, if_exists='replace', index=False)
books_df.to_sql('books', conn, if_exists='replace', index=False)
borrowers_df.to_sql('borrowers', conn, if_exists='replace', index=False)

15

In [17]:
# Commit the changes and close the connection
conn.commit()
conn.close()