The aim of this exercise is to use this technique to investigate any linear relationship that may exist between crimme rate per capita and the madian value of owner-occupied himes in towns in the city of Boston

In [1]:
# Import the modules for this project
%matplotlib inline
import matplotlib as mpl
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import statsmodels.graphics.api as smg
import pandas as pd
import patsy
from statsmodels.graphics.correlation import plot_corr
from sklearn.model_selection import train_test_split
sns.set(style="darkgrid")

In [2]:
# load the dataset for preprocessing
rawBostonData = pd.read_csv('Boston.csv')

rawBostonData.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [3]:
rawBostonData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1    ZN      506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  LSTAT    506 non-null    float64
 12  MEDV     506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [4]:
rawBostonData = rawBostonData.drop_duplicates()
rawBostonData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1    ZN      506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  LSTAT    506 non-null    float64
 12  MEDV     506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [5]:
renamedBostonData = rawBostonData.rename\
                    (columns = {\
                     'CRIM':'crimeRatePerCapita',\
                     ' ZN ':'non-retailLandProptn',\
                     'INDU ':'riverDummy',\
                     'NOX':'nitrixOxide_pp10m',\
                     'RM':'AvgNo.RoomsPerDwelling',\
                     'AGE':'ProptnOwnerOccupied',\
                     'DIS':'weighteDist',\
                     'RAD':'radiaHighwaysAccess',\
                     'TAX':'propTaxRate_per10k',\
                     'LSTAT':'pctLowerStatus',\
                     'MEDV':'medianValue_Ks'})

In [6]:
# Setting up train and test data
X = renamedBostonData.drop('crimeRatePerCapita', axis = 1)
y = renamedBostonData[['crimeRatePerCapita']]
seed = 10
test_data_size = 0.3
X_train, X_test, y_train, y_test = train_test_split\
                                    (X, y, \
                                    test_size = test_data_size,\
                                    random_state = seed)

train_data = pd.concat([X_train, y_train], axis = 1)
test_data = pd.concat([X_test, y_test], axis = 1)

Now use the **subplots** function in **matplotlib** to define a canvas (assigned the variable name **fig** in the following code) and a graph object (assigned the variable name **ax** in the following code) iin Python. You can set the sie of the grapg by setting the **figsize**(width = 10, height = 6) argument of the function.

In [13]:
fig, ax = plt.subplots(figsize=(10, 6))
# Use **Seaborn** function **rigplot** to create the scatterplot
sns.regplot(x='medianValue_Ks', y='crimeRatePerCapita',\
                ci=None, data=train_data, ax=ax, color='k',\
                scatter_kws={'s': 20, 'color': "royalblue",\
                "alpha":1})
ax.set_ylabel('Crime rate per Capita', fontsize=15, \
            fontname="Dejavu Sans")
ax.set_xlim(left=None, right=None)
ax.set_ylim(bottom=None, top=30)
ax.tick_params(axis='both', which='major', labelsize=12)
fig.tight_layout()